
<li>
    <a title="HUMAN RESOURCE INFORMATION"><i class="fa fa-group"></i> HRIS <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/HRIS">Dashboard</a></li>
    </ul>
</li>

