@{
    ViewBag.Title = "Spoiled OPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <a href="#" data-perform="panel-collapse">
        <div class="panel-heading">
          Search Filter
          <div class="pull-left">
            <a href="#" data-perform="panel-collapse"><i class="ti-minus"></i>&nbsp;&nbsp;</a>
          </div>
        </div>
      </a>
      <div class="panel-wrapper collapse in" aria-expanded="false">
        <div class="panel-body">
          <form>
            <div role="form" class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label">Spoiled OPS Number</label>
                  <input type="number" id="searchSpoiledOpsNumber" name="searchSpoiledOpsNumber" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label">&nbsp;</label>
                  <button type="button" id="btnSearch" class="btn btn-inverse btn-block form-control"><i class="fa fa-search"></i>&nbsp;Search</button>
                  @*<button type="button" id="btnSearch" class="btn btn-inverse btn-block form-control"><i class="fa fa-search"></i>&nbsp; Search</button>*@
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <p>
        <a href="#" class="btn btn-info btn-rounded waves-effect waves-light" data-toggle="modal" data-target="#modalSpoiledOps">
          <i class="fa fa-plus-circle"></i> Add New
        </a>
      </p>

      <div class="table-responsive">
        <table id="spoiledOPSTable" class="table table-striped table-bordered nowrap">
          <thead>
            <tr>
              <th>Spoiled OPS Number</th>
              <th>Date Created</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="modalSpoiledOps" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Spoiled OPS</h4>
            </div>
            <div class="modal-body">
              <form>
                <div role="form" class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label class="control-label">Spoiled OPS Number</label>
                      <input type="number" id="newSpoiledOpsNumber" name="newSpoiledOpsNumber" class="form-control">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success spoiledOpsSubmitBtn">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@Html.Partial("~/Views/Shared/formcontrols/DataTable.cshtml")
<script src="@Url.Content("~/Scripts/Areas/Common/helper.js")"></script>

<script src="@Url.Content("~/scripts/Areas/Administration/spoiledOps.js")"></script>