@using EBFP.Helper;
 
<li>
    <a><i class="fa fa-bar-chart-o"></i> CAPABILITY & INVENTORY <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="/CIS">Dashboard</a></li>
    </ul>
</li>
